header, footer ,section{}
header,footer{
    
}
header{
    
}
.ggg{
    background-image:url("../img/debora-pilati-dOG0z4-gqp0-unsplash.jpg");
    background-position: 100%;
    background-size: 100%;
}
